#logo {
    width: 140px;
}

header#main-header{
    background: #FFF;
    height: 72px;
    border-bottom: 1px solid #DDD;
}

header#main-header .header-content {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    header#main-header .header-content {
        max-width: 310px;
    }
} 